@use "../../../../css/base";

$style-font: "Courier", "monospace";
.container {
  @include base.container($bg-c: hsla(0, 0%, 0%, 0));
  width: fit-content;
  font-family: $style-font;

  display: flex;
  flex-flow: row wrap;
  transition: all 0.1s linear;

  > .body {
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;

    > .badge {
      border-radius: 0.25rem;
    }
  }

  > .header {
    height: min-content;
    display: flex;
    flex: 1 100%;
    align-items: flex-start;
    gap: 0.25rem;
    text-transform: uppercase;
  }

  .card {
    display: flex;
    align-items: center;
    gap: 10px;

    > .body {
      background-color: hsla(0, 0%, 80%, 1);
      padding: 0.5rem;
      border-radius: 0.25rem;
    }
  }

  /* ---pic--- */
  .fa-code {
    height: 20px;
    width: 20px;
    background-color: hsla(0, 0%, 90%, 1);
    border-radius: 50%;
    padding: 0.3rem;
  }
  /* ---pic--- */

  @media screen and (max-width: 800px) {
    padding: 0 0 0.5rem 0;
    // border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  }

  @media print {
    h3 {
      margin-block-end: 0.5em;
    }
  }
}
