@use "../../../../css/base";

$style-font: "Roboto", "sans";
$font-size-main: 5ch;
$font-size-header: 3ch;

:host {
  height: 100%;
  width: 100%;
}

.container {
  @include base.container($bg-c: hsla(0, 0%, 0%, 0));
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  gap: clamp(0.5rem, 1vw, 0.8rem);
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-family: $style-font;

  .info {
    grid-area: info;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    > * {
      flex: 1 100%;
    }
    :nth-child(1) {
      // flex: 1 250px;
    }

    .box-name {
      flex: 1 100%;
      justify-content: center;
      text-transform: uppercase;
      line-height: 1.2;
      // border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);

      .data[data-attr="name"] {
        font-size: 5ch;
        font-weight: bolder;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: $font-size-header;
  }

  .attr,
  .attrs {
    display: flex;
    gap: 1rem;

    > .field {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .attrs {
    justify-content: center;

    .card {
      padding-top: 0.2rem;
      display: flex;
      border-top: 2px solid hsla(0, 0%, 0%, 1);
      // gap: clamp(0.4rem, 5px, 0.6rem) 0;
      gap: 1.2rem;
    }
  }

  .motto {
    grid-area: motto;
    text-align: justify;
    align-self: anchor-center;
    flex: 1 100%;

    p {
      display: flex;
      justify-content: center;
      margin-block-end: 0px;

      &::first-letter {
        // initial-letter: 2 1;
      }
    }
  }

  .data:not([data-attr="motto"]) {
    word-spacing: 3px;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  .icon {
    width: 10px;
    color: hsla(203, 39%, 57%, 1);
  }

  @media screen and (max-width: 800px) {
  }
}
