@use "../../css/base";

.container {
  @include base.container($bg-c: hsla(0, 0%, 0%, 0));
  visibility: hidden;

  &.visible {
    visibility: visible;
  }

  form {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    overflow: auto;
  }
}
