@use "../../css/base";

$style-font: "Courier", "monospace";
.container {
  @include base.container($bg-c: hsla(0, 0%, 0%, 0));
  width: fit-content;
  font-family: $style-font;

  > .body {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;

    > .badge {
      border-radius: 0.25rem;
    }
  }

  > .header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-transform: uppercase;
  }
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;

  > .body {
    background-color: hsla(0, 0%, 80%, 1);
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
}

/* ---pic--- */
.fa-code {
  height: 20px;
  width: 20px;
  background-color: hsla(0, 0%, 90%, 1);
  border-radius: 50%;
  padding: 0.3rem;
}
/* ---pic--- */
